apiVersion: apps/v1
kind: Deployment
metadata:
  name: rutu-deployment
spec:
  selector:
    matchLabels:
       app: rutu-devops-project
  replicas: 2
  strategy:
    type: RollingUpdate
       rollingUpdate:
       maxSurge: 1
       maxUnavailable: 1
  	  
  template:
    metadata:
      labels:
        app: rutu-devops-project
    spec:
      containers:
      - name: rutu-devops-project
        image: slkrt2211/simple-devops-image
        imagePullPolicy: Always
        ports:
        - containerPort: 8080		
